doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        // TODO
        title Talk Title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='index.css')

    body

        ol#slides.slides(data-current-slide="0")
            - each slide, index in slides
                li.slide(class=slide.frontMatter.customClass || '')(id="slide-"+index)
                    .slide-inner
                        != slide.contents


        script(src='scripts/third-party.js')
        script(src='scripts/index.js')