doctype html
html.no-js
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // TODO
    title Talk Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    body
        .slides
        - each slide in slides
            .slide
                p
                = slide.path