@white: #fff;
@grayLighter: #c5c5c5;
@gray: #7a7a7a;
@grayDark: #343434;
@grayishBlue: #545f87;
@grayishRed: #a13a3c;


@teal: #00578b;
@turquoise: #00fdff;
@red: #ff5253;
@orange: #f98700;
@yellow: #ffec00;
