.slide {
//  .hide();

//  position: fixed;
  float: left;
  height: 100%;
  width: 100%;

  margin: 0;
  padding: @slidePadding;

  background: @slidesBackground;
  color: @slidesColor;

  &.is-shown {
//    .unhide();
  }

  //specific slide styles
  &:first-child {
    img {
      float: right;
      width: 100px;
    }
  }

  h1 {
    .title();
  }
}

.slide-inner {
  .centre-vertically();
  margin: 0 auto;
  max-height: 100%;
}

.title {
  .title-type();

  margin-top: 0;
}