@imagePath: 'images';

@slidesLiningColor: @teal;
@slidesLiningThickness: 10px;
@slidesLiningOpacity: 0.8;

@slidesBackground: @teal;
@slidesColor: @white;
@slidePadding: 0 10%;

@titleColor: @white;
@subtitleColor: darken(@titleColor, 5%) ;
@tertiarytitleColor: darken(@subtitleColor, 10%);
@linkColor: @red;

@longListPrimaryColor: @white;
@longListSecondaryColor: @turquoise;
@longListTertiaryColor: spin(@longListSecondaryColor, 100%);


@titleSize: 60px;
@subtitleSize: 4vw;
@tertiarytitleSize: 4vw;
@firstSlideTitleSize: 4.5vw;