@imagePath: 'images';

@slidesLiningColor: @teal;
@slidesLiningThickness: 10px;
@slidesLiningOpacity: 0.8;

@slidesBackground: @white;
@slidesColor: @grayDark;
@slidePadding: 0 10%;

@titleColor: @teal;

@longListPrimaryColor: #0055be;
@longListSecondaryColor: desaturate(spin(@longListPrimaryColor, 50%), 20%);
@longListTertiaryColor: spin(@longListSecondaryColor, 50%);